//<FORM>
// Снипет (HTML):
.form {
	display: flex;
	max-width: rem(533);
	margin: 0 auto;
	padding: rem(6);
	gap: rem(5);
	position: relative;
	border-radius: rem(10);
	background-color: #fff;

	@media (max-width: em(430)) {
		flex-direction: column;
	}

	&__row {}

	&__column {}

	&__line {}

	&__input {
		flex: 1 1 auto;
		padding: rem(20);
		height: rem(64);

		font-weight: 500;
		color: #263238;

		&::placeholder {
			color: #263238;
		}
	}

	&__button {}

	&__error {
		position: absolute;
		top: 100%;
		left: 0;
		transform: translate(0, 100%);

		font-size: rem(14);
		color: red;
	}
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";