// Заголовки, общие БЄМ блоки и проче...
.page {

  /* .page__intro */
  &__intro {}
}

.title {
  @include adaptiveValue("font-size", 86, 45);
  font-weight: 600;
  letter-spacing: .8px;
  line-height: math.div(65, 70);
  color: #fff;

  &_64 {
    @include adaptiveValue("font-size", 80, 40);
  }

  span {
    color: $green-color;
  }
}

//========================================================================================================================================================
.text {
  line-height: 180%;
}

.image-block {
  background: rgba(255, 255, 255, 0.05);
  @include adaptiveValue("padding-top", 166, 30);
  @include adaptiveValue("padding-bottom", 166, 30);
  @include adaptiveValue("padding-left", 45, 30);
  @include adaptiveValue("padding-right", 45, 30);
  border-radius: 20px;

  &__item {
    flex: 1 1 100%;

    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }
}