// Заголовки, общие БЄМ блоки и проче...
.page {

  /* .page__intro */
  &__intro {}
}

.page {

  /* .page__partners */
  &__partners {}
}

.page {

  /* .page__how */
  &__how {}
}

.page {

  /* .page__pathway */
  &__pathway {}
}

.page {
  /* .page__download */
  &__download {
  }
}

.title {
  @include adaptiveValue("font-size", 70, 45);
  font-weight: 700;
  line-height: math.div(78, 68);
  color: #fff;

  &_s64 {
    @include adaptiveValue("font-size", 64, 40);
    line-height: math.div(72, 64);
    font-weight: 700;
  }

  span {
    color: $green-color;
  }
}

//========================================================================================================================================================
.text {
  line-height: 180%;
}

.image-block {
  position: relative;
  align-self: start;
  background: rgba(255, 255, 255, 0.05);
  @include adaptiveValue("padding-top", 166, 30);
  @include adaptiveValue("padding-bottom", 166, 30);
  @include adaptiveValue("padding-left", 45, 30);
  @include adaptiveValue("padding-right", 45, 30);
  border-radius: 20px;
  overflow: hidden;

  /* .image-block__circle */
  &__circle {
    position: absolute;
    top: 0;
    right: 0;
    @include adaptiveValue("width", 585, 350);
    @include adaptiveValue("height", 585, 350);
    
    &::before {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      border-radius: 50%;
      border: 1px solid #fff;
    }

    /* .image-block__circle_1 */
    &_1 {
      &::before {
        transform: translate(calc(50% - rem(20)), -20%);
      }
    }

    /* .image-block__circle_2 */
    &_2 {
      &::before {
        transform: translate(calc(50% - rem(20)), -6%);
      }
    }

  }

  &__item {
    position: relative;

    text-align: center;
    z-index: 2;

    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }
}
