//====================================================================================================
.footer {

  background-color: rgba(53, 64, 70, 0.5);

  /* .footer__container */
  &__container {

    /* .footer__container_wide */
    &_wide {}
  }

  /* .footer__main */
  &__main {
    @include adaptiveValue("padding-top", 68, 30);
    @include adaptiveValue("padding-bottom", 97, 25);

    border-bottom: 1px solid rgba(255, 255, 255, 0.42);
  }

  /* .footer__bottom */
  &__bottom {
    @include adaptiveValue("padding-top", 56, 30);
    @include adaptiveValue("padding-bottom", 56, 30);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:$mobile) {
      gap: rem(15);
      flex-direction: column;
    }
  }

  /* .footer__copy */
  &__copy {
    font-size: rem(12);
    line-height: math.div(13.44, 12);
  }

  /* .footer__menu */
  &__menu {}
}

.main-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rem(20);
  row-gap: rem(40);

  @media (max-width: em(1200)) {
    row-gap: rem(20);
  }

  @media (max-width: em(1080)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width:$mobileSmall) {
    grid-template-columns: 1fr;
  }

  /* .main-footer__info */
  &__info {
    max-width: rem(350);
  }

  /* .main-footer__logo */
  &__logo {
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  /* .main-footer__text */
  &__text {}

  /* .main-footer__form */
  &__form {
    @media (max-width: em(1080)) {
      justify-self: center;
      grid-row-start: 2;
      grid-column: span 2;
    }
  }

  /* .main-footer__contacts */
  &__contacts {
    justify-self: end;
    display: flex;
    @include adaptiveValue("gap", 51, 20);

    @media (max-width: em(1200)) {
      flex-direction: column;
    }

    @media (max-width:$mobileSmall) {
      grid-row-start: 3;
      justify-self: start;
    }
  }

  /* .main-footer__social */
  &__social {}

  /* .main-footer__label */
  &__label {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }

    font-size: rem(16);
    font-weight: 700;
    line-height: math.div(17.92, 16);
  }

  /* .main-footer__call-us */
  &__call-us {
    padding-right: 12px;
  }

  /* .main-footer__phone */
  &__phone {
    font-size: rem(13);
  }
}

.form-footer {

  /* .form-footer__text */
  &__text {
    max-width: rem(440);

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  /* .form-footer__form */
  &__form {
    margin: 0;
    justify-self: center;
  }
}

.social {
  display: flex;
  gap: rem(16);

  /* .social__item */
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 rem(48);
    height: rem(48);
    width: rem(48);
    border-radius: 50%;
    background-color: #fff;
  }
}

.menu-footer {
  @media (max-width:$mobileSmall) {
    justify-content: center;
  }
  
  /* .menu-footer__list */
  &__list {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 40, 15);
    @media (max-width:$mobileSmall) {
      justify-content: center;
    }
  }

  /* .menu-footer__item */
  &__item {}

  /* .menu-footer__link */
  &__link {
    font-size: rem(14);
    line-height: math.div(15.68, 14);
  }
}

//====================================================================================================