//====================================================================================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include adaptiveValue("padding-top", 60, 10);
  @include adaptiveValue("padding-bottom", 60, 10);
  z-index: 10;

  /* .header__container-wide */
  &__container_wide {
    display: grid;
    grid-template-columns: rem(300) 1fr rem(300);
    align-items: center;

    @media (max-width: em(1080)) {
      grid-template-columns: auto 1fr auto;
    }
  }

  /* .header__logo */
  &__logo {
    position: relative;
    z-index: 5;
    @include adaptiveValue("width", 143, 120);

    img {
      max-width: 100%;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include adaptiveValue("width", 585, 350);
      @include adaptiveValue("height", 585, 350);

      border-radius: 50%;
      border: 1px solid #fff;
    }

    &::before {
      transform: translate(calc(-50% - rem(30)), -50%);
    }

    &::after {
      transform: translate(calc(-50% + rem(24)), calc(-50% - rem(48)));
    }
  }

  /* .header__menu */
  &__menu {
    flex: 1 1 auto;
  }

  /* .header__actions */
  &__actions {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    gap: rem(16)
  }

  /* .header__button */
  &__button {}
}

.menu {
  padding: 0 rem(10); // отступы безопасности

  /* .menu__body */
  &__body {
    @media (max-width:$mobile) {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(30);
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      @include adaptiveValue("padding-top", 180, 120, 768, 320, 2);
      padding-left: rem(15);
      padding-right: rem(15);
      padding-bottom: rem(30);

      overflow: auto;
      background-color: #141a1d; // цвет меню
      transition: all 0.3s ease 0s;

      // Плашка
      &::before {
        content: '';
        position: fixed;
        z-index: 2;
        width: 100%;
        top: 0;
        left: -100%;
        @include adaptiveValue("height", 118, 84, 768, 320, 2); // адаптируем плашку

        background-color: #0b0f10; // цвет плашки
        transition: all 0.3s ease 0s;
      }

      .menu-open & {
        left: 0;

        &::before {
          left: 0;
        }
      }
    }
  }

  /* .menu__list */
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(10);
    @include adaptiveValue("column-gap", 44, 15);

    font-family: Lato;

    @media (max-width:$mobile) {
      flex-direction: column;
      row-gap: rem(30);

      text-align: center;
    }
  }

  /* .menu__item */
  &__item {}

  /* .menu__link */
  &__link {
    @media (max-width:$mobile) {
      font-size: rem(30);
    }

    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $green-color;
      }
    }
  }

  /* .menu__icon */
  &__icon {}
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(27);
    height: rem(24);
    cursor: pointer;
    z-index: 999;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: rem(4);
      border-radius: rem(8);
      background-color: #fff;
    }

    &::before {
      top: rem(2);
    }

    &::after {
      bottom: 0px;
    }

    span {
      top: calc(50% - 1px);
    }

    .menu-open & {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 2px);
      }

      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 2px);
      }
    }
  }
}