.intro {

  /* .intro__container_wide */
  &__container_wide {
    position: relative;
  }

  /* .intro__container */
  &__container {}

  /* .intro__content */
  &__content {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-top", 256, 130);
    @include adaptiveValue("padding-bottom", 210, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }

  /* .intro__title */
  &__title {
    max-width: rem(900);

    font-weight: 700;
    letter-spacing: 2.1px;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 62, 30);
    }
  }

  /* .intro__text */
  &__text {
    max-width: rem(750);

    line-height: math.div(32, 18);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 20);
    }
  }

  /* .intro__form */
  &__form {
    width: 100%;
  }

  /* .intro__icons */
  &__icons {}
}

.icons-intro {
  pointer-events: none;

  @media (max-width:$mobile) {
    opacity: 0.5;
  }

  &__circle {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    @include adaptiveValue("width", 585, 350);
    @include adaptiveValue("height", 585, 350);

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid #fff;
    }

    &_1 {
      &::before {
        transform: translate(calc(-50% - rem(16)), -35%);
      }
    }

    &_2 {
      &::before {
        transform: translate(calc(-50% + rem(40)), -45%);
      }
    }
  }

  /* .icons-intro__item */
  &__item {
    position: absolute;

    /* .icons-intro__item_1 */
    &_1 {
      top: percent(689, 982);
      left: rem(14);
    }

    /* .icons-intro__item_2 */
    &_2 {
      left: percent(247, 1620);
      top: percent(383, 982);
    }

    /* .icons-intro__item_3 */
    &_3 {
      left: percent(410, 1620);
      top: percent(765, 982);
    }

    /* .icons-intro__item_4 */
    &_4 {
      left: percent(1142, 1620);
      top: percent(135, 982);
    }

    /* .icons-intro__item_5 */
    &_5 {
      left: percent(1315, 1620);
      top: percent(424, 982);
    }

    /* .icons-intro__item_6 */
    &_6 {
      left: percent(1311, 1620);
      top: percent(784, 982);
    }

    /* .icons-intro__item_7 */
    &_7 {
      right: rem(15);
      top: percent(370, 982);
    }
  }
}


.partners {
  @include adaptiveValue("padding-bottom", 198, 50);

  /* .partners__container */
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(25);

    @media (max-width: em(1100)) {
      justify-content: center;
    }
  }

  /* .partners__item */
  &__item {}
}

.how {

  /* .how__container */
  &__container {
    display: grid;
    row-gap: rem(30);

    @media (min-width:$tablet) {
      grid-template-columns: 1fr percent(750, 1420);
    }
  }


  /* .how__content */
  &__content {
    @include adaptiveValue("padding-right", 96, 30);
  }

  /* .how__title */
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  /* .how__text */
  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 30);
    }
  }

  /* .how__steps */
  &__steps {}

  /* .how__image */
  &__image {
    align-self: start;
  }
}

.steps-how {

  /* .steps-how__item */
  &__item {
    display: flex;
    align-items: flex-start;
    gap: rem(32);
    max-width: rem(490);

    &:not(:last-child) {
      margin-bottom: rem(48);
    }

    @media (max-width:$mobileSmall) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  /* .steps-how__icon */
  &__icon {
    display: flex;
    flex: 0 0 rem(110);
    height: rem(110);
    width: rem(110);
    justify-content: center;
    align-items: center;

    background: rgba(0, 128, 0, 0.1);
    border-radius: 50%;
  }

  /* .steps-how__body */
  &__body {}

  /* .steps-how__title */
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }

    font-size: rem(20);
    font-weight: 700;

  }

  /* .steps-how__text */
  &__text {}
}